/* VARIABLES */
:root {
  --light-background: #f2ece4;
  --light-text: #036;
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-line-height : 1.5; */
}

/* MIXINS */ /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* FONTS */
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Cormorant";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Cormorant-SemiBold.ttf");
}
@font-face {
  font-family: "Cormorant";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Cormorant-Medium.ttf");
}
@font-face {
  font-family: "Cormorant";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Cormorant-Regular.ttf");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Cormorant-Regular.ttf");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Cormorant-Regular.ttf");
}
/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-color: #f8edeb;
}

.home_body {
  background-color: #f8f9fa;
}

.active {
  border-bottom: 1px solid black;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f8f9fa;
}
.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin-right: 20px;
  margin-bottom: 10px;
}
.logo_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav_item {
  list-style: none;
}
.nav_item + .nav_item {
  margin-left: 50px;
}
.nav_link {
  text-decoration: none;
  font-family: "Cormorant";
  font-weight: 600;
  color: black;
  font-size: 20px;
}
.nav_link:hover {
  border-bottom: 1px solid black;
  color: #495057;
}
.nav_btn {
  padding: 5px 30px;
  border: 1px solid #495057;
  color: black;
  border-radius: 15px;
  text-decoration: none;
  font-family: "Cormorant";
  font-weight: 600;
  font-size: 20px;
}
.nav_btn:hover {
  background-color: #6c757d;
  color: white;
}

.home {
  margin-top: 150px;
  padding-top: 60px;
  padding-bottom: 10px;
}
.home_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home_text_title {
  font-family: "Cormorant";
  font-weight: 600;
  color: black;
  font-size: 60px;
}
.home_text_title::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.home_text_title::selection {
  background-color: rgb(245, 210, 216);
}
.home_text_desc {
  width: 100%;
  max-width: 470px;
  font-family: "Cormorant";
  font-weight: 500;
  color: black;
  font-size: 26px;
}
.home_text_desc::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.home_text_desc::selection {
  background-color: rgb(245, 210, 216);
}
.home_img {
  position: relative;
}
.home_img_item {
  position: absolute;
  top: calc(50% - 40px);
  right: calc(50% + 120px);
  width: 340px;
  height: 300px;
}

.home_about {
  margin-top: 250px;
}

.home_about_title {
  font-family: "Cormorant";
  font-weight: 600;
  color: black;
  font-size: 35px;
  text-align: center;
  background-image: url("../../images/services_textbg.png");
  background-repeat: no-repeat;
  background-position-x: 505px;
  background-size: 185px;
}
.home_about_title::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.home_about_title::selection {
  background-color: rgb(245, 210, 216);
}

.home_about_one {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_about_images {
  position: relative;
}

.home_about_images_image1 {
  position: absolute;
  z-index: 1;
  top: calc(50% - 60px);
  left: calc(50% + 90px);
}

.home_about_text {
  width: 100%;
  max-width: 550px;
}

.home_about_text_item {
  font-family: "Cormorant";
  font-weight: 500;
  color: black;
  font-size: 24px;
}
.home_about_text_item::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.home_about_text_item::selection {
  background-color: rgb(245, 210, 216);
}

.home_about_two {
  margin-top: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_about_two_text {
  width: 100%;
  max-width: 550px;
}

.home_about_two_text_item {
  font-family: "Cormorant";
  font-weight: 500;
  color: black;
  font-size: 24px;
}
.home_about_two_text_item::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.home_about_two_text_item::selection {
  background-color: rgb(245, 210, 216);
}

.home_about_two_images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home_about_two_images_item_one {
  width: 410px;
  height: 440px;
  border-radius: 10px;
}

.home_works {
  margin-top: 240px;
}

.home_works_titles {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.home_works_titles_one {
  margin-bottom: 0;
  font-family: "Cormorant";
  font-weight: 600;
  color: black;
  font-size: 35px;
  text-align: center;
  background-image: url("../../images/services_textbg.png");
  background-repeat: no-repeat;
  background-position-x: 245px;
  background-size: 307px;
}
.home_works_titles_one::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.home_works_titles_one::selection {
  background-color: rgb(245, 210, 216);
}

.home_works_titles_two {
  margin-top: 30px;
  font-family: "Cormorant";
  font-weight: 600;
  color: black;
  font-size: 25px;
  text-align: center;
}
.home_works_titles_two::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.home_works_titles_two::selection {
  background-color: rgb(245, 210, 216);
}

.home_works_titles_two_link {
  text-decoration: none;
}
.home_works_titles_two_link:hover {
  text-decoration: underline;
}

.home_about_three {
  margin-top: 150px;
}

.home_about_three_title {
  font-family: "Cormorant";
  font-weight: 600;
  color: black;
  font-size: 25px;
  text-align: center;
}
.home_about_three_title::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.home_about_three_title::selection {
  background-color: rgb(245, 210, 216);
}

.home_about_three_card {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_about_three_list {
  list-style: none;
}

.home_about_three_item {
  margin-top: 10px;
  padding: 10px 50px;
  border: 1px solid lightgrey;
  font-family: "Cormorant";
  font-weight: 600;
  color: black;
  font-size: 22px;
  cursor: pointer;
}
.home_about_three_item::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.home_about_three_item::selection {
  background-color: rgb(245, 210, 216);
}
.home_about_three_item:hover {
  color: #fff;
  background-color: rgb(245, 210, 216);
  border: 1px solid white;
}

.home_works_cards {
  margin-top: 80px;
}

.home_works_list {
  list-style: none;
}

.home_works_box {
  margin-top: 20px;
}

.home_works_item {
  width: 280px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.home_work_image {
  width: 250px;
  height: 150px;
  margin-bottom: 10px;
}

.view_more {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 55px);
  width: 120px;
  height: 40px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: pink;
  border-radius: 10px;
}

.home_works_link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Cormorant";
  font-weight: 500;
  color: rgb(37, 37, 37);
  font-size: 18px;
  text-decoration: none;
}
.home_works_link::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.home_works_link::selection {
  background-color: rgb(245, 210, 216);
}
.home_works_link:hover .view_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home_works_link:hover {
  color: grey;
}
.home_works_link:hover .home_work_image {
  opacity: 0.2;
}

.home_blog {
  margin-top: 200px;
}

.home_blog_title {
  margin-bottom: 110px;
  font-family: "Cormorant";
  font-weight: 600;
  color: black;
  font-size: 35px;
  text-align: center;
  background-image: url("../../images/services_textbg.png");
  background-repeat: no-repeat;
  background-position-x: 445px;
  background-size: 307px;
}
.home_blog_title::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.home_blog_title::selection {
  background-color: rgb(245, 210, 216);
}

.blog_part_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_blog_image {
  width: 490px;
  height: 340px;
}

.home_blog_text {
  width: 100%;
  max-width: 400px;
}

.home_blog_text_item {
  font-family: "Cormorant";
  font-weight: 500;
  line-height: 150%;
  font-size: 24px;
  text-align: center;
}
.home_blog_text_item::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.home_blog_text_item::selection {
  background-color: rgb(245, 210, 216);
}

.home_blog_text_item_link {
  text-decoration: none;
}
.home_blog_text_item_link:hover {
  text-decoration: underline;
}

.home_conact {
  margin-top: 200px;
  position: relative;
}

.home_conact_titles {
  margin: 0 auto;
  width: 100%;
  max-width: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_conact_titles_one {
  margin-bottom: 0;
  font-family: "Cormorant";
  font-weight: 700;
  line-height: 150%;
  font-size: 50px;
  text-align: center;
}
.home_conact_titles_one::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.home_conact_titles_one::selection {
  background-color: rgb(245, 210, 216);
}

.home_conact_titles_two {
  margin-bottom: 60px;
  font-family: "Cormorant";
  font-weight: 500;
  line-height: 150%;
  font-size: 25px;
  text-align: center;
}
.home_conact_titles_two::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.home_conact_titles_two::selection {
  background-color: rgb(245, 210, 216);
}

.home_conact_titles_link {
  padding: 10px 50px;
  border: 2px solid grey;
  text-decoration: none;
  font-family: "Cormorant";
  font-weight: 500;
  line-height: 150%;
  font-size: 25px;
  text-align: center;
  color: black;
}
.home_conact_titles_link::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.home_conact_titles_link::selection {
  background-color: rgb(245, 210, 216);
}
.home_conact_titles_link:hover {
  color: rgb(58, 57, 57);
  background-color: rgba(211, 211, 211, 0.623);
}

.home_contact_icons {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_contact_icons_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.home_contact_icons_item {
  margin-right: 20px;
}

.home_contact_icons_link {
  text-decoration: none;
}

.home_contact_icon {
  width: 30px;
  height: 30px;
}

.footer {
  margin-top: 150px;
}

.footer_text {
  font-family: "Cormorant";
  font-weight: 500;
  line-height: 150%;
  font-size: 16px;
  text-align: center;
}
.footer_text::-moz-selection {
  background-color: rgb(245, 210, 216);
}
.footer_text::selection {
  background-color: rgb(245, 210, 216);
}/*# sourceMappingURL=main.css.map */