/* FONTS */
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Cormorant";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Cormorant-SemiBold.ttf");
}
@font-face {
  font-family: "Cormorant";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Cormorant-Medium.ttf");
}
@font-face {
  font-family: "Cormorant";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Cormorant-Regular.ttf");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Cormorant-Regular.ttf");
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Cormorant-Regular.ttf");
}
