.hero {
  &_inner {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
  }
  &_img {
    &_img {
      border-radius: 50%;
    }
  }
}
.text {
  &_title {
    width: 100%;
    max-width: 660px;
    font-family: "Cormorant";
    color: #110f0e;
    font-size: 54px;
    font-weight: 800;
  }
  &_desc {
    margin-bottom: 60px;
    font-family: "Cormorant";
    color: #110f0e;
    font-size: 19px;
    font-weight: 700;
  }
  &_link {
    padding: 11px 50px;
    background-color: #e6beae;
    box-shadow: 0 1px 3px #b4aeb2;
    font-family: "Roboto";
    text-decoration: none;
    color: #110f0e;
    font-size: 16px;
    font-weight: 400;
    &:hover {
      background-color: #fff;
      border: 1px solid lightgrey;
    }
  }
}
.icons {
  margin-top: 150px;
  margin-left: -38px;
  display: flex;
  &_item {
    list-style: none;
    & + & {
      margin-left: 20px;
    }
  }
  &_icon {
    width: 29px;
    height: 29px;
  }
}
