.home {
  padding-top: 60px;
  padding-bottom: 1000px;
  &_inner {
    display: flex;
    justify-content: space-between;
  }
  &_text {
    &_title {
      font-family: "Cormorant";
      font-weight: 600;
      color: black;
      font-size: 60px;
    }
    &_desc {
      width: 100%;
      max-width: 470px;
      font-family: "Cormorant";
      font-weight: 500;
      color: black;
      font-size: 26px;
    }
  }
  &_img {
    position: relative;
    &_item {
      position: absolute;
      top: calc(50% - 40px);
      right: calc(50% + 120px);
      width: 340px;
      height: 300px;
    }
  }
}
