.home {
  margin-top: 150px;
  padding-top: 60px;
  padding-bottom: 1000px;
  &_intro {
    display: flex;
    justify-content: space-between;
  }
  &_text {
    &_title {
      font-family: "Cormorant";
      font-weight: 600;
      color: black;
      font-size: 60px;
    }
    &_desc {
      width: 100%;
      max-width: 470px;
      font-family: "Cormorant";
      font-weight: 500;
      color: black;
      font-size: 26px;
    }
  }
  &_img {
    position: relative;
    &_item {
      position: absolute;
      top: calc(50% - 40px);
      right: calc(50% + 120px);
      width: 340px;
      height: 300px;
    }
  }
}
.home_about {
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_about_images {
  position: relative;
}
.home_about_images_card {
  position: absolute;
  z-index: 2;
  top: calc(50% + 60px);
  left: calc(20%);
}
.home_about_images_image1 {
  position: absolute;
  z-index: -1;
  top: calc(50% - 60px);
  left: calc(50% + 80px);
}
.home_about_text {
  width: 100%;
  max-width: 550px;
}
.home_about_text_item {
  font-family: "Cormorant";
  font-weight: 500;
  color: black;
  font-size: 26px;
}
.home_works {
  margin-top: 310px;
}
.home_works_titles {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  // background-color: lightcoral;
}
.home_works_titles_one {
  margin-bottom: 0;
  font-family: "Cormorant";
  font-weight: 600;
  color: black;
  font-size: 40px;
  text-align: center;
  background-image: url("../../images/services_textbg.png");
  background-repeat: no-repeat;
  background-position-x: calc(220px);
  background-size: 357px;
}
.home_works_titles_two {
  font-family: "Cormorant";
  font-weight: 600;
  color: black;
  font-size: 25px;
  text-align: center;
}
.home_works_cards {
  margin-top: 80px;
}
.home_works_list {
  list-style: none;
  // display: flex;
  // flex-wrap: wrap;
}
.home_works_box {
  margin-top: 20px;
}
.home_works_item {
  width: 280px;
  height: 200px;
  background-color: coral;
}
